In [12]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [13]:
def answer_one():
    ans = df.drop(['Totals'])
    max = ans['Gold'].idxmax()
    max = max.replace(u'\xa0', u' ') #to remove unicode formatting
    return max

answer_one()

ValueError: labels ['Totals'] not contained in axis

In [ ]:
def answer_two():
    ans = df.drop(['Totals'])
    max = (ans['Gold']-ans['Gold.1']).idxmax()
    max = max.replace(u'\xa0', u' ') #to remove unicode formatting
    return max  

#answer_two()

In [ ]:
def answer_three():
    df_gold = df[(df['Gold']>0) & (df['Gold.1']>0)]
    diff = ((df_gold['Gold']-df_gold['Gold.1'])/df_gold['Gold.2']).idxmax()
    diff = diff.replace(u'\xa0', u' ') #to remove unicode formatting
    return diff  

#answer_three()

In [ ]:
def answer_four():
    ans = df.drop(['Totals'])
    diff = (df['Gold.2']*3) + (df['Silver.2']*2) + (df['Bronze.2']*1)
    return pd.Series(diff)

#answer_four()

In [ ]:
def answer_five():
    counties_df = census_df[census_df['SUMLEV'] == 50]
    x = census_df.groupby('STNAME').count()
    ans = x['STATE'].idxmax()
    return ans
#answer_five()

In [ ]:
def answer_six():
    counties_df = census_df[census_df['SUMLEV'] == 50]
    y = counties_df.groupby('STNAME')['POPESTIMATE2015'].agg(lambda x: x.nlargest(3).sum()) #finding top 3 elements from each
                                                                                            #group and suming their values
    z = y.nlargest(3).index #will get the index of the series/single column dataframe
    z = z.tolist()          #converting that index into a list
    return z
#answer_six()

In [ ]:

def answer_seven():
    counties_df = census_df[census_df['SUMLEV'] == 50]
    #del counties_df['Difference']
    counties_df = counties_df.set_index('CTYNAME')
    counties_df['DIFF'] = counties_df[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']].max(axis=1)-counties_df[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']].min(axis=1)
    max = counties_df['DIFF'].idxmax()
    return max

#answer_seven()

In [ ]:
def answer_eight():
    #counties_df = census_df[census_df['SUMLEV'] == 50]
    ans = census_df[((census_df['REGION']==1)|(census_df['REGION']==2))&(census_df['CTYNAME']=='Washington County')&(census_df['POPESTIMATE2015']>census_df['POPESTIMATE2014'])][['STNAME','CTYNAME']]
    return ans

#answer_eight()